#chicken {
  width: 300px;
}
#proteinpowder {
  width: 100px;
}
#water {
  height: 300px;
}
#hotdogs {
  width: 200px;
}
#eggs {
  width: 300px;
}
#gum {
  width: 100px;
}
#strawberries {
  width: 180px;
}

#pasta {
  width: 300px;
}

#candybar {
  width: 150px;
}

#soda {
  width: 120px;
}

#frozenpizza {
  width: 300px;
}
#ramen {
  width: 160px;
}
#rice {
  width: 140px;
}

#broccoli {
  width: 200px;
}
#beeftallow {
  width: 200px;
}
#milk {
  width: 130px;
}
#beeftallow {
  width: 100px;
}
#bread {
  width: 400px;
}
.food-item {
  max-width: 300px;
  max-height: 200px;
  padding: 5px;
}
